version: '3.8'
services:
  client:
    build: .
    ports:
      - "5173:5173"
    depends_on:
      - api
    volumes:
      - .:/app
      - /app/node_modules

  api:
    build: ./todo-api
    ports:
      - "3000:3000"
    volumes:
      - ./todo-api:/app
      - /app/node_modules
